<div class="container-fluid mb-5">
  <div class="row mb-5">
    <div class="col-xl-5 col-lg-6 col-md-10 col-sm-12 mx-auto mt-5">
      <div class="nga-card">
        <h1 class="h5 card-header text-center py-4">
          <i class="fas fa-user-plus me-4"></i><strong>Login</strong>
        </h1>
        <div class="card-body px-lg-5 pt-4">
          <form [formGroup]="loginForm">
            <div class="form-row">
              <div class="col">
                <div class="md-form mb-2">
                  <div class="form-floating">
                    <input
                      type="email"
                      class="form-control form-control-sm"
                      formControlName="email"
                      id="email"
                      placeholder=""
                    />
                    <label for="floatingInput">Email</label>
                  </div>
                  <div
                    *ngIf="
                      loginForm.get('email')?.invalid &&
                      (loginForm.get('email')?.dirty ||
                        loginForm.get('email')?.touched)
                    "
                    class="text-danger mt-2"
                  >
                    Email is required and must be a valid email address.
                  </div>
                </div>
                <div class="md-form">
                  <div class="form-floating">
                    <input
                      type="password"
                      class="form-control form-control-sm"
                      formControlName="password"
                      id="password"
                      placeholder=""
                    />
                    <label for="floatingInput">Password</label>
                  </div>
                  <div
                    *ngIf="
                      loginForm.get('password')?.invalid &&
                      (loginForm.get('password')?.dirty ||
                        loginForm.get('password')?.touched)
                    "
                    class="text-danger mt-2"
                  >
                    Password is required.
                  </div>
                </div>
                <button
                  (click)="onLoginClick()"
                  class="w-100 btn btn-nga btn-nga-primary mb-4"
                  type="button"
                >
                  Login<i class="fas fa-sign-in-alt ms-4"></i>
                </button>
                <p class="text-center">
                  You haven't any account?
                  <a class="login" href="/signup">Signup</a>
                </p>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
